@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --card-size: 120px;
}

body {
  background-color: #85adb1;
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(7, 44, 79);
  overflow-x: hidden;
  transition: all 0.6s;
}

body > * {
  touch-action: manipulation;
}

.display-none {
  display: none !important;
}

#game-header {
  display: flex;
  background-color: #222;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;
  box-shadow: 0 3px 8px #11111155;
  overflow: hidden;
  align-items: baseline;
  transition: all 0.5s;
}

#game-header p {
  padding: 16px;
  font-size: 1.25rem;
}

#tryCount {
  color: #fff;
  width: 4em;
  text-align: center;
  font-weight: bold;
}

#successMessage {
  flex: 1;
  background-color: #faf9f9;
  display: flex;
  align-self: stretch;
}

#successMessage p {
  opacity: 0;
  transition: all 0.5s;
}

#main-screen {
  display: flex;
  max-width: 96vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff4;
  padding: 4vw;
  margin: 20px auto;
  border-radius: 2vw;
  font-size: 1.5rem;
  box-shadow: inset 0 2px 6px #2226;
}

#main-screen .logo {
  width: 64px;
  filter: drop-shadow(0 2px 2px #2226);
  margin: 10px;
}

/* Categories */
#categories {
  list-style: none;
  margin: 20px;
  width: 100%;
  border: 1px solid #2224;
  border-radius: 6px;
  background-color: #2222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 12px;
}

#categories h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #222;
  margin-bottom: 6px;
}

.category {
  text-align: center;
  background-color: #fff8;
  width: 100%;
  margin: 6px;
  padding: 6px;
  font-weight: 300;
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
}

.category:hover {
  background-color: #fff;
}

/* Review */
#reviewList {
  list-style: none;
  background-color: #fff6;
  margin-top: 30px;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.8s;
}

.review {
  margin: 10px;
  border: 1px solid #2223;
  border-radius: 6px;
  background-color: #fff5;
  box-shadow: inset 0 1px 4px #2225;
}

.review a {
  display: inline-block;
  text-underline-offset: 2px;
  text-decoration-color: #85adb1;
  text-decoration-thickness: 2px;
  transition: all 0.2s;
}

.review a:hover {
  text-decoration-color: #03446a99;
}

.review-images {
  display: flex;
}

.review-name {
  font-size: 1.25rem;
  color: #222;
  font-weight: 300;
  transition: all 0.2s;
  margin-bottom: 0.2em;
}

.review-name:hover {
  color: #03446a;
}

.review-images img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

/* Settings */
#settings {
  margin-top: 40px;
  background-color: #ddd5;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  box-shadow: inset 0 1px 4px #2225;
}

.settings-title {
  font-weight: 300;
  color: #222;
  margin-bottom: 10px;
}

.settings-card-patterns {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 6px;
}

.settings-card-patterns img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  border: 4px dashed transparent;
  padding: 1px;
  transform: scale(0.8);
}

#settings .selected {
  border-color: whitesmoke;
  transform: scale(1);
}

.settings-section {
  margin-bottom: 20px;
}

.settings-background-colors {
  display: flex;
  justify-content: center;
}

.setting-color {
  height: calc(50px + 3vmax);
  flex: 1;
  max-width: 150px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
  border: 4px dashed transparent;
  transform: scale(0.8);
}

#menu {
  background-color: #00000033;
  border-radius: 6px;
  display: flex;
  padding: 8px;
  box-shadow: 0 2px 2px #22222266;
  margin-top: 40px;
}

#menu button {
  width: 100px;
  margin: 6px;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  background-color: rgb(255, 255, 200);
  box-shadow: 0 2px 3px #22222288;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-weight: 400;
}

#menu button:disabled {
  background-color: #ededed;
  opacity: 0.5;
}

#menu button > * {
  margin: 6px;
  opacity: 0.9;
}

#menu button:not(:disabled):hover,
#menu button:focus {
  background-color: rgb(242, 219, 125);
  outline: none;
  box-shadow: 0 1px 1px #22222288;
  transform: translateY(1px);
}

#cardsContainer {
  display: grid;
  width: 99%;
  max-width: 800px;
  justify-content: center;
  grid-template-columns: repeat(3, var(--card-size));
  gap: 6px;
  place-items: center;
  user-select: none;
}

.card {
  position: relative;
  width: var(--card-size);
  height: var(--card-size);
  perspective: 500px;
  -webkit-perspective: 500px;
  cursor: pointer;
}

/**********/
/* show pairs for debug purpose */
/* .card::before {
  content: attr(data-pair);
  position: absolute;
  z-index: 99;
  width: 3ch;
  top: -5px;
  left: -5px;
  background-color: white;
  font-size: 2rem;
  text-align: center;
  outline: 2px solid crimson;
} */
/**********/

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transition: transform 0.5s;
}

.found {
  cursor: auto;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #03446a;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front {
  background-color: #daf1ff;
  background-size: 100%;
}

.frontbg01 {
  background-image: url("img/front-01.jpg");
}
.frontbg02 {
  background-image: url("img/front-02.jpg");
}
.frontbg03 {
  background-image: url("img/front-03.jpg");
}
.frontbg04 {
  background-image: url("img/front-04.jpg");
}
.frontbg05 {
  background-image: url("img/front-05.jpg");
}
.frontbg06 {
  background-image: url("img/front-06.jpg");
}
.frontbg07 {
  background-image: url("img/front-07.jpg");
}
.frontbg08 {
  background-image: url("img/front-08.jpg");
}

.back {
  background: #03446a;
  color: white;
  transform: rotateY(180deg);
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  box-sizing: border-box;
}

/** Animations **/

.anim-trycount {
  animation: trycount 0.3s forwards ease-out;
}

@keyframes trycount {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  30% {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  100% {
    transform: unset;
  }
}

.anim-success {
  animation: success 0.5s forwards;
}

@keyframes success {
  to {
    transform: rotateY(180deg) scale(0.8);
  }
}

.anim-appear {
  animation: appear 1s forwards ease-in-out;
  visibility: hidden;
  opacity: 0;
}

@keyframes appear {
  60% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.anim-disappear {
  animation: disappear 0.3s forwards ease-in-out;
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}

.anim-scale {
  animation: scale 0.3s forwards;
  transform: scaleX(0);
}

@keyframes scale {
  100% {
    transform: scaleX(1);
  }
}

/** Media queries **/
@media (min-width: 640px) {
  :root {
    --card-size: 24vmin;
  }

  #main-screen {
    max-width: 94vw;
  }

  .review-images img {
    width: 200px;
    height: 200px;
  }

  .review-name {
    font-size: 1.5rem;
    margin-top: 0.2em;
  }

  #cardsContainer {
    gap: 12px;
  }
}

@media (min-width: 860px) {
  :root {
    --card-size: 25vmin;
  }

  #main-screen {
    max-width: 78vw;
  }

  .review-images img {
    width: 200px;
    height: 200px;
  }

  #game-header {
    justify-content: center;
  }

  #game-header p {
    font-size: 2rem;
  }

  #successMessage {
    flex: 1;
    padding-left: 0.8em;
  }

  #cardsContainer {
    grid-template-columns: repeat(4, var(--card-size));
    gap: 16px;
  }
}
