@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --card-size: 120px;
}

body {
  background: #85adb1;
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(7, 44, 79);
  overflow: hidden;
}

#game-header {
  display: none;
  background-color: #222;
  width: 100%;
  justify-content: center;
  margin-bottom: 40px;
  box-shadow: 0 3px 8px #11111155;
  overflow: hidden;
  align-items: baseline;
  transition: all 0.5s;
}

#game-header p {
  padding: 16px;
  font-size: 1.25rem;
}

#tryCount {
  color: #fff;
  width: 4em;
  text-align: center;
  font-weight: bold;
}

#successMessage {
  flex: 1;
  background-color: #faf9f9;
  display: flex;
  align-self: stretch;
}

#successMessage p {
  opacity: 0;
  transition: all 0.5s;
}

#menu {
  background-color: #00000033;
  border-radius: 6px;
  display: flex;
  padding: 8px;
  margin-top: 100px;
}

#menu button {
  width: 100px;
  margin: 6px;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  background-color: rgb(255, 255, 200);
  box-shadow: 0 2px 3px #22222288;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-weight: 400;
}

#menu button:disabled {
  background-color: #ededed;
  opacity: 0.5;
}

#menu button > * {
  margin: 6px;
  opacity: 0.9;
}

#menu button:not(:disabled):hover,
#menu button:focus {
  background-color: rgb(242, 219, 125);
  outline: none;
  box-shadow: 0 1px 1px #22222288;
  transform: translateY(1px);
}

#cardsContainer {
  display: none;
  width: 99%;
  max-width: 800px;
  justify-content: center;
  grid-template-columns: repeat(3, var(--card-size));
  gap: 6px;
  place-items: center;
  user-select: none;
}

.card {
  position: relative;
  width: var(--card-size);
  height: var(--card-size);
  perspective: 500px;
  -webkit-perspective: 500px;
  cursor: pointer;
}

/**********/
/* show pairs for debug purpose */
/* .card::before {
  content: attr(data-pair);
  position: absolute;
  z-index: 99;
  width: 3ch;
  top: -5px;
  left: -5px;
  background-color: white;
  font-size: 2rem;
  text-align: center;
  outline: 2px solid crimson;
} */
/**********/

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transition: transform 0.5s;
}

.found {
  cursor: auto;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #03446a;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front {
  background-color: #457b9d;
  background-image: url("https://quizmory.netlify.app/img/front-01.jpg");
  background-size: 100%;
}

.back {
  background: #03446a;
  color: white;
  transform: rotateY(180deg);
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  box-sizing: border-box;
}

/** Animations **/

.anim-trycount {
  animation: trycount 0.3s forwards ease-out;
}

@keyframes trycount {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  30% {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  100% {
    transform: unset;
  }
}

.anim-success {
  animation: success 0.5s forwards;
}

@keyframes success {
  to {
    transform: rotateY(180deg) scale(0.8);
  }
}

.anim-appear {
  animation: appear 0.3s forwards ease-out;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.anim-disappear {
  animation: disappear 0.3s forwards ease-out;
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}

/** Media queries **/
@media (min-width: 640px) {
  :root {
    --card-size: 24vmin;
  }
}

@media (min-width: 860px) {
  :root {
    --card-size: 25vmin;
  }

  #game-header {
    justify-content: center;
  }

  #successMessage {
    flex: 1;
  }

  #cardsContainer {
    grid-template-columns: repeat(4, var(--card-size));
    gap: 16px;
  }
}
